
<div style="margin-top:55px; padding-top:55px;" class="container-fluid text-sm-center p-5 bg-info text-white "> <!-- bg-light is background color & p-5 is padding -->
    <h1 class="display-2">Weather in Wroclaw</h1>
    <p class="lead">In this place will be forecast for my city - Wroclaw!</p>
</div>
